<%=  provide(:title, 'New Task') %>

    <%= form_for(@task) do |f| %>
        <% if @task.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@task.errors.count, "error") %>
              </div>
              <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <li>* <%=  msg  %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <center>
          <div class = "row">
            <div class="span6 offset3">
              <%= f.label :name %><br />
              <%= f.text_field :name %>
             
              <%= f.label :end_time %>
              <%= f.date_select :end_time %>
              <%= f.hidden_field :project_id, :readonly=> true, :value=> Project.find(params[:id]).id.to_s%>
              <%= f.label :priority %><br />
              <%= f.number_field :priority %>
              <%= button_to 'Create task', new_task_path, :class => "btn btn-large btn-primary", :form => {"data-type"=> "json"}, :method => "post" %>

            </div>
          </div>
        </center>
<% end %>
