<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Project</th>
    <th>Priority</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.status %></td>
    <td><%= task.project_id %></td>
    <td><%= task.priority %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
