<% count_tasks = 0
   count_tasks_future = 0 %>
<% current_user.projects.each do |project| %>
    <div class="well">
    <table class="table table-stripped">
      <thead>
      <tr>
        <td><b class="icon-list"></b></td>
        <td><b><%= project.name%></b>. Tasks: <%= project.tasks.length%> </td>
        <td></td><td></td>
        <td><div class="input-append"><%= link_to edit_project_path(project), class: "btn btn-primary", method: :get do%><i class="icon-white icon-pencil"></i> <% end %><%= link_to project, confirm: 'Are you sure?', class: "btn btn-primary", method: :delete do %>
              <i class="icon-white icon-trash"></i> <% end %>
              </div></td>
      </tr>
      <tr>
        <td> <b>Done?</b></td>
        <td> <b>Task</b></td>
        <td> <b>End Time</b></td>
        <td> <b>Priority</b></td>
        <td> <b>Activities</b></td>
      </tr>
      </thead>
     <tbody>
      <% project.tasks.each do |task| %>
          <% if task.status == false && task.end_time == Date.today()
                count_tasks +=1 end %>
         <% if task.status == false && task.end_time != Date.today()
              count_tasks_future +=1 end %>
          <tr>
            <%= form_for(task, :remote => true) do |f| %>
            <td><%= f.check_box :status, :onchange => 'this.form.submit()' %></td>
            <% end %>
            <td><%= task.name%></td>
            <td><%= task.end_time %></td>
            <td><%= link_to "/tasks/minus/"+task.id.to_s do %>
                  <i class="icon-minus"></i>  <% end %>
              <%= task.priority.to_s %>
              <%= link_to  "/tasks/plus/"+task.id.to_s do %>
                  <i class="icon-plus"></i>  <% end %>
            </td>
            <td>
              <div class="input-append"><%= link_to edit_task_path(task), class: "btn btn-primary", method: :get do%><i class="icon-white icon-pencil"></i> <% end %><%= link_to task, confirm: 'Are you sure?', class: "btn btn-primary", method: :delete do %>
                    <i class="icon-white icon-trash"></i> <% end %>
              </div>
            </td>
          </tr>
      <% end %>
     </tbody>
    </table>
      <form accept-charset="UTF-8" action="" class="well form-inline" id="new_task" method="post">
        <center><%= link_to "Create task", new_task_path+"/"+project.id.to_s, :class => "btn btn-success"%></center>
      </form>
    </div>
<% end %>

<center>
<%= button_to 'Add TODO List', new_project_path, :class => "btn btn-large btn-primary", :form => {"data-type"=> "json"}, :method => "get" %>
</center>
<% if count_tasks > 0
     provide(:todo, " You have to do "+ count_tasks.to_s + " task(s) for today and "+ count_tasks_future.to_s+" more in future.") end %>