<%=  provide(:title, 'Profile edit') %>
<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <center>
      <div class = "row">
        <div class="span6 offset3">
          <%= f.label :name %><br />
          <%= f.text_field :name %>

          <%= f.label :email %><br />
          <%= f.email_field :email %>

          <%= f.label :password %><br />
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
          <br />
          <%= f.submit "Save", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </center>
<% end %>

<%= link_to 'Back', root_path %>
