<p id="notice"><%= notice %></p>
<% provide(:title, "Hi, " + current_user.name + "! ") %>
<p>

  <b>Name:</b>
  <%= current_user.name %> | <%= link_to 'Edit Profile', edit_user_path(current_user) %>
</p>

<p>
  <%= render 'projects' %>
</p>



