%=  provide(:title, 'New TODO List') %>
<%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <center>
      <div class = "row">
        <div class="span6 offset3">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
          <%= button_to 'Edit', new_project_path, :class => "btn btn-large btn-primary", :form => {"data-type"=> "json"}, :method => "put  " %>

        </div>
      </div>
    </center>
<% end %>
<%= link_to 'Back', root_path %>
