<footer class="footer">
  <small>
    <a href="http://vk.com/suchav">Task Manager</a>
    by Artem
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>


