<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">

    <div class = "container">
     
     
     
     <a id="logo" href ="<%= root_path %>"><%=  yield(:title) %>  <%= yield(:todo) %></a>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
